.navbar {
  grid-area: navbar;
  color:white
}

.icon {
  height:25px;
  margin-right: 12px;
} 

.navbar ul {
  list-style: none;
}

.navbar li {
  color:white;
  padding-left:20px;
  border-radius: 0 40px 40px 0;
  height: 60px;
  font-size: 24px;
  margin: 5px 0;
  display:flex;
  align-items: center;
  cursor: pointer;
}

.navbar li:hover {
  background-color:#fbc531;
}

.active-menu {
  background-color: rgba(251, 197, 49, .8);
}


