header {
  grid-area: top;
  height: 80px;
  display:flex;
  align-items: center;
  color:white;
  font-size: 20px;
}

.search-bar h1 {
  display:inline-block;
}

.app-name {
  font-size: 35px;
  min-width: 250px;
}

.yellow {
  color: orange;
}

.search__input {
  height: 38px;
  width: calc(100% - 450px);
  padding-left:10px;
  border: 0px;
  background-color: #5d89b1;
  margin-left: 15px;
  font-size: 20px;
  color: white;
}

.search__input::placeholder {
  color:white;
}

.search__btn {
  height: 38px;
  background-color: #8c7ae6;
  border-radius: 19px;
  width: 180px;
  margin: 0 10px;
  line-height: 38px;
  font-size: 20px;
  cursor: pointer;
}